.table {
    width:100%;
}

.table * {
    font-size:14px;
    font-weight: 600;
    line-height: 16px;
}

.table tr {
    height:50px;
    border-style:none;
}

.table td {
    padding-left: 20px;
    border-style:none;
}



.table tr:nth-child(odd){
    background-color:#F2F5FA
}

.table tr:nth-child(odd) td{
    border-left:1px solid #F2F5FA;
    border-right:1px solid #F2F5FA;
}

.table tr:nth-child(even){
    background-color:#fff;
}